@media screen and (max-width: 480px) {
    .background-image{
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

}

@media screen and (max-width: 768px) {
    .background-image{
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.planet-image{
    width: 40%;
}

.planets-links{
    width: 73%;
}
}

@media screen and (min-width: 769px) {
    .background-image{
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

.planet-image{
    width: 40%;
}

.planets-links{
    width: 60%;
}

.row .padding-for-desktop{
    padding-inline: 60px;
}
}

body{
    box-sizing: border-box;
    min-height: 100vh;
}

.active{
    border-bottom: 4px solid #ffffff;
    padding-bottom: .5rem;
    font-weight: 600;
}