@media screen and (max-width: 480px) {
    .background-image{
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.planet-image{
    width: 75%;
    margin-inline: auto;
}
}

@media screen and (max-width: 768px) {
    .background-image{
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center-the-content{
    width: 75%;
    margin-inline: auto;
}

.planet-image{
    width: 300px;
    margin-inline: auto;
}

.planets-links{
    width: 300px;
    margin-inline: auto;
}
}

@media screen and (min-width: 769px) {
    .background-image{
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

.planet-image{
    width: 480px;
    margin-inline: 0px;
}

.planets-links{
    width: 60%;
}

.row .padding-for-desktop{
    padding-inline: 60px;
}
}

body{
    color: white;
    box-sizing: border-box;
    min-height: 100vh;
}

.planets-links ul li a{
    text-decoration: none;
    color: #ffff;
}
ul{
list-style-type: none;    
}

.active{
    border-bottom: 4px solid #ffffff;
    padding-bottom: .5rem;
    font-weight: 600;
}